src/conf/xml-resources/web-service-references/TestWS/wsdl/localhost_8080/IS4227WineXpressWS-war/TestWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://test.wx.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://test.wx.com/">

<xs:element name="readTest" type="tns:readTest"/>

<xs:element name="readTestResponse" type="tns:readTestResponse"/>

<xs:element name="test" type="tns:test"/>

<xs:element name="testResponse" type="tns:testResponse"/>

<xs:element name="writeTest" type="tns:writeTest"/>

<xs:element name="writeTestResponse" type="tns:writeTestResponse"/>

<xs:complexType name="writeTest">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="writeTestResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="test">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="testResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="readTest">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="readTestResponse">
<xs:sequence>
<xs:element name="return" type="tns:adminUsr" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="adminUsr">
<xs:sequence>
<xs:element name="commentCollection" type="tns:comment" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="firstName" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="lastName" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="status" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="comment">
<xs:sequence>
<xs:element name="adminUsr" type="tns:adminUsr" minOccurs="0"/>
<xs:element name="comment" type="xs:string" minOccurs="0"/>
<xs:element name="customer" type="tns:customer" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="prdtPackage" type="tns:prdtPackage" minOccurs="0"/>
<xs:element name="product" type="tns:product" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="customer">
<xs:sequence>
<xs:element name="billToAdressCollection" type="tns:billToAddress" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="commentCollection" type="tns:comment" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="creditCardCollection" type="tns:creditCard" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="fistName" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="lastName" type="xs:string" minOccurs="0"/>
<xs:element name="orderDetailid" type="tns:orderDetail" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="rateCollection" type="tns:rate" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="shipToAddressCollection" type="tns:shipToAddress" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="status" type="xs:boolean" minOccurs="0"/>
<xs:element name="watchlistCollection" type="tns:watchlist" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="billToAddress">
<xs:sequence>
<xs:element name="address1" type="xs:string" minOccurs="0"/>
<xs:element name="address2" type="xs:string" minOccurs="0"/>
<xs:element name="billState" type="xs:string" minOccurs="0"/>
<xs:element name="city" type="xs:string" minOccurs="0"/>
<xs:element name="contactNumber" type="xs:string" minOccurs="0"/>
<xs:element name="country" type="xs:string" minOccurs="0"/>
<xs:element name="customerCollection" type="tns:customer" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="postalcode" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="creditCard">
<xs:sequence>
<xs:element name="cardHolder" type="xs:string" minOccurs="0"/>
<xs:element name="cardNumber" type="xs:string" minOccurs="0"/>
<xs:element name="customerCollection" type="tns:customer" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="expDate" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="type" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="orderDetail">
<xs:sequence>
<xs:element name="contactName" type="xs:string" minOccurs="0"/>
<xs:element name="contactNumber" type="xs:string" minOccurs="0"/>
<xs:element name="currency" type="xs:string" minOccurs="0"/>
<xs:element name="customer" type="tns:customer" minOccurs="0"/>
<xs:element name="discountedPrice" type="xs:double" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="ordDate" type="tns:timestamp" minOccurs="0"/>
<xs:element name="orderItemsCollection" type="tns:orderItems" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="payment" type="tns:payment" minOccurs="0"/>
<xs:element name="priceBeforeDisc" type="xs:double" minOccurs="0"/>
<xs:element name="shippingFee" type="xs:double" minOccurs="0"/>
<xs:element name="status" type="xs:string" minOccurs="0"/>
<xs:element name="totalPrice" type="xs:double" minOccurs="0"/>
<xs:element name="dAddress1" type="xs:string" minOccurs="0"/>
<xs:element name="dAddress2" type="xs:string" minOccurs="0"/>
<xs:element name="dCity" type="xs:string" minOccurs="0"/>
<xs:element name="dContact" type="xs:string" minOccurs="0"/>
<xs:element name="dCountry" type="xs:string" minOccurs="0"/>
<xs:element name="dPostalCode" type="xs:string" minOccurs="0"/>
<xs:element name="dState" type="xs:string" minOccurs="0"/>
<xs:element name="sAddress1" type="xs:string" minOccurs="0"/>
<xs:element name="sAddress2" type="xs:string" minOccurs="0"/>
<xs:element name="sCity" type="xs:string" minOccurs="0"/>
<xs:element name="sContactNum" type="xs:string" minOccurs="0"/>
<xs:element name="sCountry" type="xs:string" minOccurs="0"/>
<xs:element name="sPostalCode" type="xs:string" minOccurs="0"/>
<xs:element name="sState" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="timestamp">
<xs:sequence>
<xs:element name="nanos" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="orderItems">
<xs:sequence>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="orderDetail" type="tns:orderDetail" minOccurs="0"/>
<xs:element name="product" type="tns:product" minOccurs="0"/>
<xs:element name="quantity" type="xs:int" minOccurs="0"/>
<xs:element name="subtotal" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="product">
<xs:sequence>
<xs:element name="availableQuantity" type="xs:int" minOccurs="0"/>
<xs:element name="averageRate" type="xs:double" minOccurs="0"/>
<xs:element name="categoriesCollection" type="tns:categories" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="commentCollection" type="tns:comment" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="discount" type="xs:int" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="numberOfRate" type="xs:string" minOccurs="0"/>
<xs:element name="orderItemsCollection" type="tns:orderItems" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="picture" type="xs:string" minOccurs="0"/>
<xs:element name="prdtPackageCollection" type="tns:prdtPackage" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="price" type="xs:double" minOccurs="0"/>
<xs:element name="rateCollection" type="tns:rate" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="soldQuantity" type="xs:int" minOccurs="0"/>
<xs:element name="subCategoriesCollection" type="tns:subCategories" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="volumn" type="xs:string" minOccurs="0"/>
<xs:element name="watchlistCollection" type="tns:watchlist" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="categories">
<xs:sequence>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="prdtPackageCollection" type="tns:prdtPackage" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="productCollection" type="tns:product" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="subCategoriesCollection" type="tns:subCategories" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="prdtPackage">
<xs:sequence>
<xs:element name="availableQuantity" type="xs:int" minOccurs="0"/>
<xs:element name="averageRate" type="xs:double" minOccurs="0"/>
<xs:element name="categoriesCollection" type="tns:categories" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="commentCollection" type="tns:comment" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="discount" type="xs:int" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="numberOfRate" type="xs:string" minOccurs="0"/>
<xs:element name="orderItemsCollection" type="tns:orderItems" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="picture" type="xs:string" minOccurs="0"/>
<xs:element name="price" type="xs:double" minOccurs="0"/>
<xs:element name="productCollection" type="tns:product" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="rateCollection" type="tns:rate" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="soldQuantity" type="xs:int" minOccurs="0"/>
<xs:element name="subCategoriesCollection" type="tns:subCategories" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="volumn" type="xs:string" minOccurs="0"/>
<xs:element name="watchlistCollection" type="tns:watchlist" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="rate">
<xs:sequence>
<xs:element name="customer" type="tns:customer" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="prdtPackage" type="tns:prdtPackage" minOccurs="0"/>
<xs:element name="product" type="tns:product" minOccurs="0"/>
<xs:element name="rate" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="subCategories">
<xs:sequence>
<xs:element name="categories" type="tns:categories" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="prdtPackageCollection" type="tns:prdtPackage" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="productCollection" type="tns:product" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="watchlist">
<xs:sequence>
<xs:element name="customer" type="tns:customer" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="liked" type="xs:boolean" minOccurs="0"/>
<xs:element name="prdtPackageCollection" type="tns:prdtPackage" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="productCollection" type="tns:product" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="payment">
<xs:sequence>
<xs:element name="amount" type="xs:double"/>
<xs:element name="cardHolder" type="xs:string" minOccurs="0"/>
<xs:element name="cardNumber" type="xs:int"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="method" type="xs:string" minOccurs="0"/>
<xs:element name="orderDetail" type="tns:orderDetail" minOccurs="0"/>
<xs:element name="payDay" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="shipToAddress">
<xs:sequence>
<xs:element name="address1" type="xs:string" minOccurs="0"/>
<xs:element name="address2" type="xs:string" minOccurs="0"/>
<xs:element name="city" type="xs:string" minOccurs="0"/>
<xs:element name="contactNumber" type="xs:string" minOccurs="0"/>
<xs:element name="country" type="xs:string" minOccurs="0"/>
<xs:element name="customerCollection" type="tns:customer" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="postalcode" type="xs:string" minOccurs="0"/>
<xs:element name="shipState" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>