web/WEB-INF/wsdl/localhost_8080/IS4227WineXpressWS-war/TestWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://test.wx.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://test.wx.com/" name="TestWS">
<types>
<xsd:schema>
<xsd:import namespace="http://test.wx.com/" schemaLocation="http://localhost:8080/IS4227WineXpressWS-war/TestWS?xsd=1"/>
</xsd:schema>
</types>
<message name="test">
<part name="parameters" element="tns:test"/>
</message>
<message name="testResponse">
<part name="parameters" element="tns:testResponse"/>
</message>
<message name="writeTest">
<part name="parameters" element="tns:writeTest"/>
</message>
<message name="writeTestResponse">
<part name="parameters" element="tns:writeTestResponse"/>
</message>
<message name="readTest">
<part name="parameters" element="tns:readTest"/>
</message>
<message name="readTestResponse">
<part name="parameters" element="tns:readTestResponse"/>
</message>
<portType name="TestWS">
<operation name="test">
<input wsam:Action="http://test.wx.com/TestWS/testRequest" message="tns:test"/>
<output wsam:Action="http://test.wx.com/TestWS/testResponse" message="tns:testResponse"/>
</operation>
<operation name="writeTest">
<input wsam:Action="http://test.wx.com/TestWS/writeTestRequest" message="tns:writeTest"/>
<output wsam:Action="http://test.wx.com/TestWS/writeTestResponse" message="tns:writeTestResponse"/>
</operation>
<operation name="readTest">
<input wsam:Action="http://test.wx.com/TestWS/readTestRequest" message="tns:readTest"/>
<output wsam:Action="http://test.wx.com/TestWS/readTestResponse" message="tns:readTestResponse"/>
</operation>
</portType>
<binding name="TestWSPortBinding" type="tns:TestWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="test">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="writeTest">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="readTest">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="TestWS">
<port name="TestWSPort" binding="tns:TestWSPortBinding">
<soap:address location="http://localhost:8080/IS4227WineXpressWS-war/TestWS"/>
</port>
</service>
</definitions>